# Imports

In [2]:
import pandas as pd
from scipy.io import arff
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import AgglomerativeClustering
from scipy.cluster.hierarchy import dendrogram, linkage

# Reading data

In [5]:
file, meta = arff.loadarff('data/phpPrh7lv.arff')
data = pd.DataFrame(file)
data

        V1     V2      V3     V4     V5     V6     V7 Class
0    15.26  14.84  0.8710  5.763  3.312  2.221  5.220  b'1'
1    14.88  14.57  0.8811  5.554  3.333  1.018  4.956  b'1'
2    14.29  14.09  0.9050  5.291  3.337  2.699  4.825  b'1'
3    13.84  13.94  0.8955  5.324  3.379  2.259  4.805  b'1'
4    16.14  14.99  0.9034  5.658  3.562  1.355  5.175  b'1'
..     ...    ...     ...    ...    ...    ...    ...   ...
205  12.19  13.20  0.8783  5.137  2.981  3.631  4.870  b'3'
206  11.23  12.88  0.8511  5.140  2.795  4.325  5.003  b'3'
207  13.20  13.66  0.8883  5.236  3.232  8.315  5.056  b'3'
208  11.84  13.21  0.8521  5.175  2.836  3.598  5.044  b'3'
209  12.30  13.34  0.8684  5.243  2.974  5.637  5.063  b'3'

[210 rows x 8 columns]

# Preprocessing

In [7]:
correlations = data.corr()
avg_correlation = correlations.abs().mean()
selected_attributes = avg_correlation.nsmallest(4).index
df_selected = data[selected_attributes]
#df_selected.head()

scaler = MinMaxScaler()
df_selected_normalized = pd.DataFrame(scaler.fit_transform(df_selected), columns=df_selected.columns)
df_selected_normalized.head()

         V6  Class        V3        V7
0  0.189302    0.0  0.570780  0.345150
1  0.032883    0.0  0.662432  0.215165
2  0.251453    0.0  0.879310  0.150665
3  0.194243    0.0  0.793103  0.140817
4  0.076701    0.0  0.864791  0.322994